
.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
}

.header-table {
    border-spacing: 5px;
    font-size: 18px;
}

.action {
    width: 40px;
    font-size: 35px;
    text-align: center;
    vertical-align: center;
}

.action:hover {
    background-color: #e9d29d;
}

.small-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

div span.only-show-on-hover {
    visibility: hidden;
}
div:hover span.only-show-on-hover  {
    visibility: visible;
}

.image {
    width: 25px;
    height: 25px;
}

.image-big {
    width: 50px;
    height: 50px;
}

.show {
    display: none;
}

.search {
    font-size: 25px;
}


.grid li {
    list-style-type: none;
}

.header {
    grid-column: 2 / 3;
    padding-top: 20px;
    padding-left: 15px;
    color: #13194a;
    font-size: 30px;
    height: 100px;
}

.navi {
    grid-column: 1 / 2 ;
    grid-row: 1 / 7;
}

.grid-item {
    height: 70px;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;

}
.grid-item a {
    color: #4559a5;
    text-decoration: none;
}

.grid-item a:hover {
    color: chartreuse;
}

.grid-item .active a {
    color: red;
}
